{{#extend "layout"}}
    {{#unless deadlines.length}}
        {{#replace "head"}}
            <h3>No deadlines</h3>
        {{/replace}}
    {{/unless}}
    {{#replace "content"}}
        <section class="scrollable wrapper">
            <div class="tab-content">
                <div class="row">
                    {{#each deadlines}}
                        <div class="col-lg-8">
                            <section class="panel no-borders hbox">
                                <aside>
                                    <div class="pos-rlt">
                                        {{{gravatar user_email}}}
                                        <span class="arrow right hidden-xs"></span>
                                    </div>
                                </aside>
                                <aside class="bg-primary clearfix lter r-r text-right v-middle">
                                    <div class="col-lg-8">

                                        <p><a href="/deadline/{{_id}}">{{name}}</a></p>

                                        <strong>Until : </strong><span>{{{date date 'DD-MM-YYYY H:m'}}}</span>

                                        <p>{{description}}</p>


                                        <div class="progress progress-sm progress-striped active">
                                            <div class="progress-bar progress-bar-success js-progress_bar"
                                                 data-toggle="tooltip"
                                                 data-daedlineId= {{_id}} data-end= {{date}} data-start
                                                    = {{createDate}}></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="inline m-t-sm">
                                            <div class="easypiechart easyPieChart" data-percent="32.5"
                                                 data-line-width="8"
                                                 data-bar-color="#ffffff" data-track-color="#c79d43"
                                                 data-scale-color="false"
                                                 data-size="100"
                                                 style="width: 100px; height: 100px; line-height: 100px;"><span
                                                    class="h2">32</span>%
                                                <canvas width="100" height="100"></canvas>
                                            </div>
                                        </div>

                                    </div>


                                </aside>

                            </section>
                        </div>
                        <div class="col-lg-4" data-deadlineId="{{_id}}">
                            <p>Voting:</p>
                            {{#voteButtons this ../user_votes ../user}}
                                <a class="js-vote_up btn btn-default btn-sm" data-vote="up" href="#"><i
                                        class="fa fa-thumbs-o-up"></i>UP</a>
                                <a class="js-vote_down btn btn-default btn-sm" data-vote="down" href="#"><i
                                        class="fa fa-thumbs-o-down"></i>DOWN</a><br>
                            {{/voteButtons}}
                            <span class="badge bg-success">{{result}}/{{amount}}</span>


                        </div>
                    {{/each}}

                </div>
            </div>
        </section>
    {{/replace}}

{{/extend}}