{{#extend "layout"}}
    {{#replace "content"}}
        <header class="header bg-white b-b">
            <p>{{text}}</p>
        </header>
        <section class="scrollable wrapper">
            <div class="tab-content">
                <div class="row">
                    {{#unless deadlines.length}}
                        <h3>There are no deadlines yet.</h3>
                    {{/unless}}
                    {{#each deadlines}}
                        <div class="col-lg-9">
                            <section class="panel no-borders hbox">
                                <aside>
                                    <div class="panel-body">
                                        <div class="pos-rlt col-lg-4">

                                            {{{gravatar user_email}}}
                                        </div>
                                        <div class="pos-rlt col-lg-8 link_name_of_deadline">
                                            <blockquote>
                                                <p><a href="/deadline/{{_id}}"><strong>{{name}}</strong></a></p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </aside>
                                <div class="col-lg-12 col-lg-offset-1">
                                    <aside class="bg-primary clearfix lter r-r text-right v-middle progress_block">
                                        <div class="js-progresses_container progresses_container"
                                             data-end='{{this.date}}'
                                             data-start='{{createDate}}'>
                                            <div class="col-lg-8">
                                                <div><strong>Until : </strong>
                                                    <span>{{{date date 'DD-MM-YYYY H:mm'}}}</span></div>
                                                <div>
                                                    Votes:
                                                    {{#voteButtons this ../user_votes ../user}}
                                                        <a class="js-vote_up btn btn-default btn-xs" data-vote="up"
                                                           href="#"><i class="fa fa-thumbs-o-up"></i>UP</a>
                                                        <a class="js-vote_down btn btn-default btn-xs"
                                                           data-vote="down"
                                                           href="#"><i class="fa fa-thumbs-o-down"></i>DOWN</a>
                                                    {{/voteButtons}}
                                                    <span class="btn btn-success btn-xs">{{result}}/{{amount}}</span>
                                                </div>
                                                <div class="progress progress-sm progress-striped active result">
                                                    <div class="progress-bar progress-bar-success js-progress_bar"
                                                         data-toggle="tooltip"
                                                         data-daedlineId='{{_id}}'></div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 rounded_progress">
                                                <div class="inline m-t-sm">
                                                    <div class="easypiechart easyPieChart js-rounded_progress"
                                                         data-percent=""
                                                         data-line-width="8"
                                                         data-bar-color="#ffffff" data-track-color="#c79d43"
                                                         data-scale-color="false"
                                                         data-size="100"
                                                         style="width: 100px; height: 100px; line-height: 100px;"><span
                                                            class="h2"></span>%
                                                        <canvas width="80" height="80"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </aside>
                                </div>
                            </section>
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>
    {{/replace}}
{{/extend}}