{{#extend "layout"}}
    {{#unless deadlines.length}}
        {{#replace "head"}}
            <h3>No deadlines</h3>
        {{/replace}}
    {{/unless}}
    {{#replace "content"}}
        <section class="scrollable wrapper">
            <div class="tab-content">
                <div class="row">
                    {{#each deadlines}}
                        <div class="col-lg-8">
                            <section class="panel no-borders hbox">
                                <aside>
                                    <div class="panel-body">
                                        <div class="pos-rlt col-lg-5">
                                            <!--<span class="arrow right hidden-xs"></span>-->
                                            {{{gravatar user_email}}}
                                        </div>
                                        <div class="pos-rlt col-lg-3">
                                            <blockquote>
                                                <p><a class="deadline_name"
                                                      href="/deadline/{{_id}}"><strong>{{name}}</strong></a></p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </aside>
                                <aside class="bg-primary clearfix lter r-r text-right v-middle">
                                    <div class="js-progresses_container" data-end='{{this.date}}'
                                         data-start='{{createDate}}'>
                                        <div class="col-lg-8 voting_field">
                                            <strong>Until : </strong><span>{{{date date 'DD-MM-YYYY H:mm'}}}</span>

                                            <p>Votes:</p>
                                            {{#voteButtons this ../user_votes ../user}}
                                                <a class="js-vote_up btn btn-default btn-sm" data-vote="up"
                                                   href="#"><i
                                                        class="fa fa-thumbs-o-up"></i>UP</a>
                                                <a class="js-vote_down btn btn-default btn-sm" data-vote="down"
                                                   href="#"><i
                                                        class="fa fa-thumbs-o-down"></i>DOWN</a><br>
                                            {{/voteButtons}}
                                            <span class="badge bg-success result">{{result}}/{{amount}}</span>


                                            <div class="progress progress-sm progress-striped active progress_striped">
                                                <div class="progress-bar progress-bar-success js-progress_bar"
                                                     data-toggle="tooltip"
                                                     data-daedlineId='{{_id}}'></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 rounded_progress">
                                            <div class="inline m-t-sm">
                                                <div class="easypiechart easyPieChart js-rounded_progress"
                                                     data-percent=""
                                                     data-line-width="8"
                                                     data-bar-color="#ffffff" data-track-color="#c79d43"
                                                     data-scale-color="false"
                                                     data-size="100"
                                                     style="width: 100px; height: 100px; line-height: 100px;"><span
                                                        class="h2"></span>%
                                                    <canvas width="80" height="80"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </section>
                        </div>
                        <div class="col-lg-4" data-deadlineId="{{_id}}">
                            <section class="panel no-borders hbox">
                                <aside>
                                    <div class="panel-body description">
                                        <div class="row">
                                            <div class="pos-rlt col-lg-10">

                                                <blockquote>
                                                    <p>{{description}}</p>
                                                </blockquote>

                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </section>
                        </div>
                    {{/each}}
                </div>
            </div>
        </section>
    {{/replace}}
{{/extend}}