{{#extend "layout"}}

    {{#replace "content"}}
        <section class="scrollable wrapper">
            <div class="tab-content">
                <div class="row">

                    <div class="col-lg-9">
                        <section class="panel no-borders hbox">
                            <aside>
                                <div class="panel-body">
                                    <div class="pos-rlt col-lg-4">
                                        {{{gravatar deadline.user_email}}}

                                    </div>
                                    <div class="pos-rlt col-lg-8">
                                        <blockquote>
                                            <p class="name_of_deadline"><a href="#">{{deadline.name}}</a></p>
                                        </blockquote>
                                    </div>

                                </div>
                            </aside>
                            <div class="col-lg-12 col-lg-offset-1">
                                <aside class="bg-primary clearfix lter r-r text-right v-middle progress_block">
                                    <div class="js-progresses_container progresses_container"
                                         data-end='{{deadline.date}}'
                                         data-start='{{deadline.createDate}}'>
                                        <div class="col-lg-8">
                                            <strong>Until
                                                : </strong><span>{{{date deadline.date 'DD-MM-YYYY H:mm'}}}</span>

                                            <p>Votes:</p>
                                        <span class="badge bg-success">{{deadline.result}}
                                            /{{deadline.amount}}</span>

                                            <div class="progress progress-sm progress-striped active result">
                                                <div class="progress-bar progress-bar-success js-progress_bar"
                                                     data-toggle="tooltip"
                                                     data-daedlineId='{{deadline._id}}'></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 rounded_progress">
                                            <div class="inline m-t-sm">
                                                <div class="easypiechart easyPieChart js-rounded_progress"
                                                     data-percent=""
                                                     data-line-width="8"
                                                     data-bar-color="#ffffff" data-track-color="#c79d43"
                                                     data-scale-color="false"
                                                     data-size="100"
                                                     style="width: 100px; height: 100px; line-height: 100px;"><span
                                                        class="h2"></span>%
                                                    <canvas width="80" height="80"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-1" data-deadlineId="{{_id}}">
                        <section class="panel no-borders hbox">
                            <aside>
                                <div class="panel-body">

                                    <article class="media">
                                        <div class="pull-left"><span class="fa fa-stack fa-2x"> <i
                                                class="fa fa-circle text-primary fa-stack-2x"></i> <i
                                                class="fa fa-file text-white fa-stack-1x"></i> </span></div>
                                        <div class="media-body"><a href="#" class="h4">Description</a>

                                            <p>{{deadline.description}}</p>

                                        </div>
                                    </article>

                                </div>
                            </aside>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-lg-offset-1">
                    <div class="line pull-in "></div>
                    <div id="disqus_thread"></div>
                </div>
            </div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
                var disqus_shortname = 'deadline01'; // Required - Replace example with your forum shortname
                var disqus_identifier = '{{deadline._id}}';
                var disqus_title = 'a unique title for each page where Disqus is present';
                var disqus_url = 'a unique URL for each page where Disqus is present';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
        </section>
    {{/replace}}
{{/extend}}